html,
body {
  box-sizing: border-box;
  font-size: 100px;
  overflow: hidden;
  margin: 0 auto;
}

.background {
  background-image: url("./assets/steeve6.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.iphone {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(49%, -40%) rotate(-8deg);
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexRowCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  width: 2.3em;
  height: 4.35em;
  border-radius: 0.4em;
  border: solid #b5b7b9 0.03em;
  background-color: #f8f8f8;
}

.AllFrontFacingFeatures {
  margin-top: 0.09em;
  position: relative;
}
.BottomFrontFacingFeatures {
  gap: 0.05em;
}
.earpiece {
  display: block;
  height: 0.06em;
  width: 0.06em;
  border-radius: 0.05em;
  background: #333;
  margin: 0 auto;
}
.speaker {
  display: block;
  width: 0.4em;
  height: 0.038em;
  border-radius: 0.05em;
  background: #292728;
}

.camera {
  position: absolute;
  display: block;
  height: 0.08em;
  width: 0.08em;
  border-radius: 0.05em;
  background: #333;
  margin-left: -0.15em;
  margin-top: -0.065em;
}

.screen {
  margin: 0.2em 0.1em 0.1em 0.1em;
  background-color: #292728;
  width: 2.1em;
  height: 3.3em;
}

.roundBtn {
  margin: 0 auto;
  width: 0.4em;
  height: 0.4em;
  background: #ccc;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    #2d2f30 0%,
    #c2c4c6 50%,
    #f3f5f5 69%,
    #3e4041 100%
  );
  position: relative;
}
.roundBtn:after {
  content: "";
  width: 0.35em;
  height: 0.35em;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 0.025em;
  top: 0.028em;
}

@media (max-height: 600px) {
  .background {
    background-position-y: 50%;
  }
}

.btn {
  height: 34px;
  width: 5px;
  border-radius: 10px;
  background: #b5b7b9;
  box-shadow: inset #7e7e7e 4px 0 8px 1px, #c2c4c6 -1px 0px 2px;
}
.muteBtn {
  position: absolute;
  height: 45px;
  top: 100px;
  right: -3.3px;
  transform: rotateY(237deg);
  transform-style: preserve-3d;
}
.volumeUp {
  position: absolute;
  top: 105px;
  left: -2.5px;
  transform: rotateY(237deg);
  transform-style: preserve-3d;
}
.volumeDown {
  position: absolute;
  top: 145px;
  left: -2.5px;
  transform: rotateY(237deg);
  transform-style: preserve-3d;
}
.toggle {
  width: 2px;
  height: 23px;
  background: #bbbcc0;
  border-radius: 10px;
  position: absolute;
  box-shadow: #eee -1px 1px, #777 -2px 3px, #505057 -3px 3px,
    inset #909197 -3px 0 3px;
  top: 69px;
  left: -2px;
  transform: rotateY(130deg);
}
/* SCREEN */
.screen {
  position: relative;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.whiteDots {
  display: flex;
  gap: 0.015em;
}
.whiteDot {
  display: block;
  height: 0.04em;
  width: 0.04em;
  border-radius: 0.05em;
  background: #ffffff;
}
.icons {
  display: flex;
  align-items: center;
}
.iconsUpLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.02em;
  flex: 1.5;
}
.singTel {
  font-size: 0.08em;
  color: #ffffff;
  margin: 0;
}
.icon {
  width: 16px;
  height: 16px;
}

.line {
  display: block;
  width: 0.25em;
  height: 0.038em;
  border-radius: 0.05em;
  background: #b5b7b9;
}
.battery {
  display: flex;
  flex: 1.5;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0.05em;
}
.timeAndDate {
  position: absolute;
  left: 16%;
  top: 16%;

}
.time {
  font-size: 0.4em;
  color: #c9c9c9;
}
.date {
  font-size: 0.14em;
  color: #c9c9c9;
}

.slideToUnlock {
  position: absolute;
  left: 32%;
  top: 85%;
  font-size: 0.15em;
  color: #ffffff;
}
.gradient-text {
  background: -webkit-linear-gradient(left, #979696, #c9c9c9, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.arrow {
  position: absolute;
  left: -1em;
  top: 0;
  bottom: 0;
  height: 1.4em;
}
.arrow:before,
.arrow:after {
  content: "";
  background-color: #ffffff;
  width: 0.1em;
  height: 0.81em;
  position: absolute;
  right: 0;
}
.arrow:before {
  top: 0;
  transform: rotate(-40deg);
}
.arrow:after {
  bottom: 0;
  transform: rotate(40deg);
}
.bottomLine{
  position: absolute;
  left: 44%;
  top: 97%;
}
.bottomCamera{
  position: absolute;
  left: 88%;
  top: 94%;
}